{% extends "base.html" %}
{% block title %}404 - Movify{% endblock %}
{% block body %}
<header id="login-header">
    <img src="{{ url_for('static', filename='images/logo-black.png') }}" alt="Movify logo"/>

    <h1><a href="{{ url_for('index') }}">Movify</a></h1>
</header>

<div class="container" style="text-align: center">
    <h1>Sorry, this page doesn't exists</h1>

    <p>Actually... ok, yeah, exists. You are here so that's is proof enought of its existence but...</p>

    <p>Ok, lets say that exists but is not what you where looking for.</p>

    <p>Or maybe... Where you looking for this page? In that case yeah, exists and is this page.</p>

    <p>Anyway, it's totally useless.</p>

    <p>Better go back to the <a href="{{ url_for('index') }}" class="green">home page</a> or spend your day on <a
            href="http://www.youtube.com" class="green">Youtube</a></p>

    <p>See ya!</p>
</div>
{% endblock body %}