{% extends "base.html" %}
{% block title %}Account overview - Movify{% endblock %}
{% block body %}

<script type=text/javascript>
    var paypalLinkClicked = false;
    var cajasturLinkClicked = false;
    var cajasturLoaded = false;

    function generateCajasturPaymentData(months) {
        $.getJSON('/movify/_generate_cajastur_payment_data', {
            months: months
        }, function (cajastur) {
            $('#MerchantID').val(cajastur.commerce_data.MERCHANT_ID);
            $('#AcquirerBIN').val(cajastur.commerce_data.ACQUIRER_BIN);
            $('#TerminalID').val(cajastur.commerce_data.TERMINAL_ID);
            $('#Num_operacion').val(cajastur.operation);
            $('#Importe').val(cajastur.price);
            $('#TipoMoneda').val(cajastur.commerce_data.TIPO_MONEDA);
            $('#Exponente').val(cajastur.commerce_data.EXPONENTE);
            $('#URL_OK').val(cajastur.url_ok);
            $('#URL_NOK').val(cajastur.url_error);
            $('#Firma').val(cajastur.signature);
            $('#Descripcion').val(cajastur.description);
            cajasturLoaded = true;
            if (cajasturLinkClicked) {
                $('form-cajastur').submit();
            }
        });
    }

    function generatePaypalPaymentData(months) {
        $('#paypal-link').attr('href', '#');
        $.getJSON('/movify/_generate_paypal_payment_data', {
            months: months
        }, function (paypal) {
            $('#paypal-link').attr('href', paypal.url);
            if (paypalLinkClicked) {
                $(location).attr('href', paypal.url);
                $('#payment-modal').modal('hide');
            }
        });
    }

    $(function () {
        $('a.checkout').bind('click', function () {
            paypalLinkClicked = false;
            cajasturLinkClicked = false;
            cajasturLoaded = false;
            $('#payment-modal-loading').hide();
            $('#payment-modal-content').show();
            var months = this.getAttribute('data-months')
            generateCajasturPaymentData(months);
            generatePaypalPaymentData(months);
            return false;
        });

        $('#paypal-link').bind('click', function () {
            paypalLinkClicked = true;
            var href = $('#paypal-link').attr('href');
            if (href == '#') {
                $('#payment-modal-loading').show();
                $('#payment-modal-content').hide();
                return false;
            }
            return true;
        });

        $('form-cajastur').submit(function (event) {
            cajasturLinkClicked = true;
            if (!cajasturLoaded) {
                $('#payment-modal-loading').show();
                $('#payment-modal-content').hide();
                event.preventDefault();
            }
        });

        function onCajasturSubmit() {
            cajasturLinkClicked = true;
            return cajasturLoaded;
        }
    });

</script>

<header>
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Movify logo"/>

                    <h1>Movify</h1>
                </div>
                <div class="col-sm-8">
                    <ul>
                        {% if not session.username %}
                        <li><a href="{{ url_for('show_signup') }}">Subscribe</a></li>
                        <li>Help</li>
                        <li><a href="{{ url_for('show_login') }}">Log in</a></li>
                        {% else %}
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li>Help</li>
                        <li><a href="{{ url_for('do_logout') }}">Log out</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="parallax-window medium" data-parallax="scroll"
     data-image-src="{{ url_for('static', filename='images/parallax/gradient.jpg') }}">
    <div id="hero" class="container">
        <h2>Hello {{ user.username }}</h2>

        <p class="lead">This is your account overview panel and you can do almost anything from here. Any problem with
            your account?</p>
        <a class="green-button" href="#">Ask for help</a>
    </div>
</div>

<section id="subscription" class="box">
    <div class="container">
        {% if today_millis > user.expiration %}
        <h3>Choose your plan</h3>

        <p class="lead">You haven't got an active subscription. Choose one below.</p>

        <h4>Purchase subscription for</h4>

        {% else %}
        <h3>Upgrade your plan</h3>

        <p class="lead">Your subscription expires on <span class="green">{{ user.expiration_str }}</span>.

        <p>

        <p class="lead"> Don't want to wait to update your subscription? You can do it now below.</p>

        <h4>Purchase extension for</h4>
        {% endif %}

        <div id="products" class="row">
            {% for subscription in subscriptions %}
            <div class="col-md-4 col-sm-12 col-xs-12 product">
                <h5>{{ subscription.name }}</h5>

                <p>{{ subscription.price }}€</p>

                <p>{{ subscription.description }}</p>

                <a data-months="{{subscription.months}}" class="checkout green-button" href="#">Check out</a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<div class="parallax-window tiny" data-parallax="scroll"
     data-image-src="{{ url_for('static', filename='images/parallax/gradient.jpg') }}"></div>

<div id="payment-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Select a payment method</h4>
            </div>
            <div class="modal-body">
                <div id="payment-modal-loading">
                    <img src="{{ url_for('static', filename='images/loading.gif') }}" id="loading-indicator"
                         style="display: block; margin: auto;"/>
                </div>
                <div id="payment-modal-content">
                    <p><a id="paypal-link" href="#"><img
                            src="{{ url_for('static', filename='images/paypal-button.jpg') }}"
                            alt="Paypal checkout logo"/></a></p>

                    <p>- or -</p>

                    <form id="form-cajastur" action="http://tpv.ceca.es:8000/cgi-bin/tpv" method=post>
                        <input type="hidden" name="MerchantID" id="MerchantID"/>
                        <input type="hidden" name="AcquirerBIN" id="AcquirerBIN"/>
                        <input type="hidden" name="TerminalID" id="TerminalID"/>
                        <input type="hidden" name="Num_operacion" id="Num_operacion"/>
                        <input type="hidden" name="Importe" id="Importe"/>
                        <input type="hidden" name="TipoMoneda" id="TipoMoneda"/>
                        <input type="hidden" name="Exponente" id="Exponente"/>
                        <input type="hidden" name="URL_OK" id="URL_OK"/>
                        <input type="hidden" name="URL_NOK" id="URL_NOK"/>
                        <input type="hidden" name="Firma" id="Firma"/>
                        <input type="hidden" name="Idioma" value="1"/>
                        <input type="hidden" name="Pago_soportado" value="SSL"/>
                        <input type="hidden" name="Descripcion" id="Descripcion"/>
                        <input type="hidden" name="Cifrado" value="SHA1"/>
                        <a href="javascript:{}" onclick="$('#form-cajastur').submit(); return false;" class="green">
                            Pay through Cajastur with your credit card
                        </a>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" ignore missing %}
{% endblock body %}