<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <ul>
                    <li>About</li>
                    <li>Jobs</li>
                    <li>Press</li>
                    <li>News</li>
                    <li>Gift</li>
                    <li>Web Player</li>
                </ul>
            </div>

            <div class="col-sm-3 col-xs-6">
                <ul>
                    <li>Developers</li>
                    <li>For Brands</li>
                    <li>Contact</li>
                </ul>
            </div>

            <div id="follow-us" class="col-sm-3 col-xs-12 col-sm-offset-3">
                <h3>Follow us</h3>
                <a href="#"><img src="{{ url_for('static', filename='icons/twitter.png') }}" alt="Twitter icon"></a>
                <a href="#"><img src="{{ url_for('static', filename='icons/facebook.png') }}" alt="Facebook icon"></a>
                <!-- MovifyAds -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-0120119386428740"
                     data-ad-slot="1658161348"
                     data-ad-format="auto"></ins>
            </div>
        </div>

        <p>&copy;2015 Movify</p>

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script> (adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
</footer>