<header>
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Movify logo"/>

                    <h1>Movify</h1>
                </div>
                <div class="col-sm-8">
                    <ul>
                        {% if not session.username %}
                            <li><a href="{{ url_for('show_signup') }}">Subscribe</a></li>
                            <li>Help</li>
                            <li><a href="{{ url_for('show_login') }}">Log in</a></li>
                        {% else %}
                            <li><a href="{{ url_for('show_account') }}">Account</a></li>
                            <li>Help</li>
                            <li><a href="{{ url_for('do_logout') }}">Log out</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>