<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sign up - Movify</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo-black.png') }}">
</head>
<body>
  <header id="login-header">
    <img src="{{ url_for('static', filename='images/logo-black.png') }}" alt="Movify logo" />
    <h1><a href="{{ url_for('index') }}">Movify</a></h1>
  </header>

  <div id="form-container" class="container">
    <h2>Sign up with your email address</h2>
    <form method="post" action="{{ url_for('do_register') }}">
      <input class="u-full-width" type="text" name="username" placeholder="Username" autocomplete="off" required="true">
      <input class="u-full-width" type="text" name="email" placeholder="Email" autocomplete="off" required="true">
      <input class="u-full-width" type="text" name="confirm_email" placeholder="Confirm email" autocomplete="off" required="true">
      <input class="u-full-width" type="password" name="password" placeholder="Password" required="true">

      <p class="disclaimer">By clicking on Sign up, you agree to <a href="#">Movify's terms & conditions</a> and <a href="#">privacy policy</a></p>
      <input class="u-full-width green-button" type="submit" value="Sign up">
    </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/parallax.js') }}"></script>
</body>
</html>
